body {
  background-color: ##fcfdff;
}

.jumbotron {
  text-align: center;
  letter-spacing: 5px;
}

h2 {
  font-size: 20px;
  color: black;
  text-align: center;
}

img {
  width: 25%;
  float: left;
  padding: 2px;
  border: 2px solid black;
  margin: 10px;
}

.projects a {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.employer {
  font-weight: bold;
}

.title {
  font-style: italic;
}

#email {
  font-weight: bold;
}

.copyright {
  text-align: center;
}

.glyphicon {
  font-size: 30px;
}
