body {
  background-color: #f7f8f9;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.jumbotron {
  text-align: center;
  letter-spacing: 16px;
  color: #535659;
  background-color: transparent !important;
}

h2 {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  text-align: center;
  font-style: italic;
  color: #535659;
}

img {
  width: 25%;
  float: left;
  padding: 2px;
  border: 2px solid black;
  margin: 8px;
}

.projects a {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.company {
  font-weight: bold;
}

.title {
  font-style: italic;
}

#email {
  font-weight: bold;
}

.copyright {
  text-align: center;
}

.glyphicon {
  font-size: 40px;
}

.aloha {
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Dancing Script', cursive;
}
